# Environment variables
.env

# Python virtual environment
venv/

# Python bytecode and cache
__pycache__/
*.pyc

# Raw data files
*.csv
# Except the seed data file
!data_raw/*.csv

# Database files
*.db